@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}
.hide {
	display: block;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	clip-path: polygon(0 0, 0 0, 0 0);
}
body {
	background: #eaeaea;
}
#slideshow {
	position: relative;
	width: 940px;
	height: 430px;
	margin: 50px auto;
}
.mask {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.mask .slide {
	position: absolute;
	width: 3760px;
	height: 430px;
}
.mask .slide li {
	float: left;
}
.slide_btn {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}
.slide_btn ul li {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	cursor: pointer;
	background: #000;
	margin: 0 5px;
}
.slide_btn ul li.active {
	background: orangered;
}
.prev,
.next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: block;
    width: 65px;
    height: 65px;
}
.prev {
    left: 0;
    background: url(../images/lbtn_off.png) no-repeat;
}
.next {
    right: 0;
    background: url(../images/rbtn_off.png) no-repeat;
}
.prev:hover {
    background: url(../images/lbtn_on.png) no-repeat;
}
.next:hover {
    background: url(../images/rbtn_on.png) no-repeat;
}